.password-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 30rem;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  height: 37rem;
}

.password-wrapper h2 {
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  color: #070707;
}
.password-wrapper p {
    color: #070707;
  
    text-align: center;
    font-family: "DM Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    width: 23.5rem;
  }

.password-wrapper a {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #FFF;
}

.btn-pass {
    position: relative;
    color: #fff;
    background-color: #2e0086;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
  
    z-index: 1;
    transition: all 0.5s ease-in-out;
    border: 1px solid #2e0086;
    overflow: hidden;
  
    width: 23.75rem;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.btn-pass-effect::before {
    content: "";
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 30px;
    z-index: -1;
    transition: all 0.5s ease-in-out;
    position: absolute;
  }
  
  .btn-pass-effect:hover {
    color: #2e0086;
    font-weight: 700;
  }
  
  .btn-pass-effect:hover::before {
    width: 100%;
    background-color: #fff;
    color: #2e0086 !important;
  }